$white: #fff;
$black: #000;
$blue: #00f;

$text-font: "Comfortaa", Arial, Helvetica, sans-serif;
$heading-font: "Billy Ohio", Arial, Helvetica, sans-serif;
$strong-font: $heading-font;

$bg-color: $white;
$heading-color:  $black;
$anchor-color:  $blue;
$text-color: $black;

$elementor-tablet: 768px;
$elementor-full: 1020px;